*{
 margin:0px;
 padding:0px;
}
.container{
     background-image : url("img/body7.png");
     background-repeat:no-repeat;
     width:100%;
     height:700px;
}
.menu{
    width:100%;
    height:60PX;
    display:block;
    background:rgba(0,0,0,.8);
}
.menu div{
   display:inline-block;
  
}

.menu ul li{
   display:inline-block;
   padding:50px;
   padding-top:0px;
   padding-bottom:0px;
   color: white;
   background: rgba(0,0,0,.1);
}
.leftbar ul li:hover{
    color:white;
    background:rgba(0,0,0,.1);
   -webkit-transform:scale(1.5);
}
.leftbar{
    float:left;
    font :30px white Tahoma;
    padding:15px;
    padding-top:10px;
    color: white;

}

.rightbar ul li:hover{
    color:white;
    background:rgba(0,0,0,.1);
    -webkit-transform:scale(1.5);
}
.rightbar{
    float:right;
    font :15px white Tahoma;
    padding:15px; padding-top:15px;
    color: white;
}
.gallery{
    margin-top:50px;
    margin-left:0px;
    width:1500px;
    height:300px;
    display:block;
    padding:40px;

}
.gallery img{
    	border: 2px solid black;
        display:inline-block;
}

.sliderbox{
    position: relative;
    width: 4000px;
    animation: books 40s infinite;
	animation delay: 0s;
}

.sliderbox img{
    float: left;
}

@keyframes books{
    0%
    {
        left: 0px;
    }

    100%
    {
       left: -1350px;
    }
}

.search{
     margin:auto;
     height:60px;
     width:600px;
     
     border:4px solid black;
     border-radius:40px;
     background:rgba(255,255,255,.6);
}

.novel{
    margin : auto;
    margin-top: 100px;
    color : white;
    height : 60px;
    width: 100px;
    font : 50px white Tahoma;
}

.about{
    margin : auto;
    color : black;
    height : 40px;
    width : 100%;
    font : 50px black Tahoma;
}


.cart{
     height:60px;
     width:60px;
     margin-top: 100px;
     margin-left: 20px;
     font : 30px black Tahoma;
}

.cart a{
     text-decoration:none;
     color: white;
}

.gallery2{
	   margin:auto;
	    margin-top:50px;
    	margin-left:200px;
    	width:1200px;
    	height:300px;
    	display:block;
    	padding:40px;

}

.gallery2 div{
     display:inline-block;
}

.gallery2 img:hover{
    -webkit-transform:scale(1.2);
}

.table{
        margin-left:600px;
        margin-top:200px;
        width:1200px;
    	height:300px;
 
}

table th,td{
	border:1px solid pink;
	border-collapse:collapse;
}

.header{
         margin-top: 20px;
	     margin-left:700px; 
         color : pink;
         height : 60px;
         width: 100px;
         font : 50px white Tahoma;
}

.header1{
         margin-left:120px; 
         margin: auto;
         margin-top: 0px;
         color : black;
         height : 100px;
         width: 530px;
         display: block;
        
}

.header1 img{
    height: 150px;
    width: 400px;

}

.footer{
    display: block;
    width: 100%;
    height: 250px;
    background: black;
    font-size: 30px;
    float: left;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 200px;
}
.footer div {
    display: inline-block;
    float: left;
    padding: 20px;

}
.footer footer {
    display: inline-block;
    float: right;
    bottom: 0px;
    margin-right: 20px;
    font: 20px red Tahoma;

}

.follow {
    display: inline-block;
  width: 60px;
  height: 90px;
  margin: 10px;
    


}
.follow a img{
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin:auto;
    opacity: 0.7;
}
.follow a img:hover{
    opacity: 1;
    -webkit-transform:scale(1.2);
    background-color: black;
    border-radius: 40px;
}

.head1
{
    width:1500px;
    height:200px;
    overflow: hidden;
    margin-left: 10px;
}

.head1 img
{
    display: inline-block;
    border: 1px solid white;
}

.sliderbox1{
    position: relative;
    width: 6100px;
    animation: head 20s infinite;
}

.sliderbox1 img{
    float: left;
}

@keyframes head{
    0%
    {
        left: 0px;
    }

    25%
    {
        left: 0px;
    }

    30%
    {
        left: -1500px;
    }

    55%
    {
        left: -1500px;
    }

     60%
    {
        left: -3000px;
    }

     85%
    {
        left: -3000px;
    }

    90%
    {
        left: -4500px;
    }

     115%
    {
        left: -4500px;
    }


    120%
    {
       left: -6000px;
    }
}
