*{
 margin:0px;
 padding:0px;
}
.container{
     background-image : url("img/body11.png");
     background-repeat:no-repeat;
     width:100%;
     height:1000px;
}
.menu{
    width:100%;
    height:60PX;
    display:block;
    background:rgba(0,0,0,.6);
}
.menu div{
   display:inline-block;
  
}

.menu ul li{
   display:inline-block;
   padding:50px;
   padding-top:0px;
   padding-bottom:0px;
   color: white;
}
.leftbar ul li:hover{
    color:white;
    background:rgba(0,0,0,.1);
   -webkit-transform:scale(1.5);
}
.leftbar{
    float:left;
    font :30px white Tahoma;
    padding:15px;
    padding-top:10px;
    color: white;
}

.rightbar ul li:hover{
    color:white;
    background:rgba(0,0,0,.1);
    -webkit-transform:scale(1.5);
}
.rightbar{
    float:right;
    font :15px white Tahoma;
    padding:15px; padding-top:15px;
    color: white;
}

.search{
     margin:auto;
     height:60px;
     width:600px;
     
     border:4px solid black;
     border-radius:40px;
     background:rgba(255,255,255,.6);
     margin-top: 0px;
}

.gallery2{
      margin:auto;
      margin-top:50px;
      margin-left:200px;
      width:1200px;
      height:300px;
      display:block;
      padding:40px;

}

.gallery2 div{
     display:inline-block;
}

.gallery2 img:hover{
    -webkit-transform:scale(1.2);
}

.cart{
     height:60px;
     width:60px;
}

.cart a{
     text-decoration:none;
     color: white;
}

.header{
    width:400px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;

}

.sliderbox{
    position: relative;
    width: 2000px;
    animation: books 25s infinite;
}

.sliderbox img{
    float: left;
}

@keyframes books{
    0%
    {
        left: 0px;
    }
    
    16%
    {
      left: 0px;
    }

    20%
    {
      left: -400px;
    }

    36%
    {
      left: -400px;
    }

    40%
    {
      left: -800px;
    }

    56%
    {
      left: -800px;
    }

    60%
    {
      left: -1200px;
    }

    76%
    {
      left: -1200px;
    }

    80%
    {
      left: -1600px;
    }

    96%
    {
      left: -1600px;
    }

    100%
    {
       left: -2000px;
    }
}

.footer{
    display: block;
    width: 100%;
    height: 250px;
    background: black;
    font-size: 30px;
    float: left;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 250px;
}
.footer div {
    display: inline-block;
    float: left;
    padding: 20px;

}
.footer footer {
    display: inline-block;
    float: right;
    bottom: 50px;
    margin-right: 20px;
    font: 20px red Tahoma;

}

.follow {
    display: inline-block;
  width: 60px;
  height: 90px;
  margin: 10px;
    


}
.follow a img{
    float: right;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin:auto;
    opacity: 0.7;
}
.follow a img:hover{
    opacity: 1;
    -webkit-transform:scale(1.2);
    background-color: black;
    border-radius: 40px;
}